
.progress_html{
    width: 300px;
    height: 20px;
    margin: 2px;
    border: medium solid black;
    background: linear-gradient(to right, green 70%, rgb(0, 22, 2) 80%, white 10%);
}

.progress_css{
    width: 300px;
    height: 20px;
    margin: 2px;
    border: medium solid black;
    background: linear-gradient(to right, green 70%, rgb(0, 22, 2) 80%, white 10%);
}

.progress_js{
    width: 300px;
    height: 20px;
    margin: 2px;
    border: medium solid black;
    background: linear-gradient(to right, green 20%, rgb(0, 22, 2) 25%, white 25%);
}