main {
    width: 100vw;
    height: 92.3vh;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.content {
    padding: 20px;
    width: 23rem;
    height: 15rem;
}
.content ul{
    display: flex;
    flex-direction: column;
}
.progress_html{
    width: 300px;
    height: 20px;
    margin: 2px;
    border: medium solid black;
    background: linear-gradient(to right, green 70%, rgb(0, 22, 2) 80%, white 10%);
}

.progress_css{
    width: 300px;
    height: 20px;
    margin: 2px;
    border: medium solid black;
    background: linear-gradient(to right, green 70%, rgb(0, 22, 2) 80%, white 10%);
}

.progress_js{
    width: 300px;
    height: 20px;
    margin: 2px;
    border: medium solid black;
    background: linear-gradient(to right, green 20%, rgb(0, 22, 2) 25%, white 25%);
}
