body{
    background-color: rgb(255, 254, 251);
}

conteiner {
    width: 100%;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}

.content > div {
    flex: 1 1 128px;
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 30vw;
    height: 30vh;
    justify-content: center;
    margin: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 
    0 2px 2px rgba(0, 0, 0, 0.1), 
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 
    0 16px 16px rgba(0, 0, 0, 0.1);
}

#btn-a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color:rgb(19, 165, 82);
    width: 100px;
    height: 30px;
    color: whitesmoke;
}

.card-one {
    background: url(../assets/images/MaratonaDiscover.png)no-repeat center/cover;
}

.card-two {
    background: url(../assets/images/game-mania.png)no-repeat center/cover;
}

.card-tree {
    background: url(../assets/images/jkp.png)no-repeat center/cover;
}

.card-four{
    background: url(../assets/images/Calculadora.png)no-repeat center/cover;
}

.card-five {
    background: url(../assets/images/Captura\ de\ tela_2022-10-10_23-09-18.png)no-repeat center/cover;
}

.card-six {
    background: url(../assets/images/Captura\ de\ tela_2022-10-10_23-24-08.png)no-repeat center/cover;
}

.card-seven {
    background: url(../assets/images/TO-DO-LIST.png)no-repeat center/cover;
}

.card-working {
    background: url(../assets/images/Progress\ _Outline.svg)no-repeat center/cover;
}
.card-eight {
    background: url(../assets/images/stock.png)no-repeat center/cover;
}

.card-nine {
    background: url(../assets/images/yu-gi-yo.png)no-repeat center/cover;
}

.card-ten {
    background: url(../assets/images/piano.png)no-repeat center/cover;
}

.card-eleven{
    background: url(../assets/images/memoria.png)no-repeat center/cover;
}

.card-Twelve{
    background: url(../assets/images/detona-halp.png)no-repeat center/cover;
}


@media (max-width: 720px) {
    .content > div {
        flex: 1 1 128px;
    }

    .content{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: auto;

    }
}

@media (max-width: 600px) {
    .card {
        width: 50vw;
    }
}

@media (max-width: 400px) {
    .card {
        width: 90vw;
    }
}