body{
    background-color: rgb(255, 254, 251);
    width: 100vw;
    height: 100vh;
}

.content{
    display: flex;
    
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 30vw;
    height: 30vh;
    text-align: center;
    color: rgb(94, 88, 88);
    margin: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 
    0 2px 2px rgba(0, 0, 0, 0.1), 
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 
    0 16px 16px rgba(0, 0, 0, 0.1);
}

.card-one {
    background: url(../assets/images/MaratonaDiscover.png)no-repeat center/cover;
}

